<!DOCTYPE html>
<html>
<head>
    <title>Traduttore di Lingue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #avviso {
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border: 1px solid black;
            margin-bottom: 10px;
        }
    </style>
    <script>
        window.onload = function() {
            const avviso = document.getElementById("avviso");
            avviso.style.display = "block";
        }
    </script>
</head>
<body>
    <div id="avviso">
      PER LE LINGUE: MONDAINESE,NAPOLETANO,ALBANESE SONO DISPONIBILI SOLO QUESTE PAROLE:<br>
      <br>
      MONDAINESE: galo, galo king, mondaino, alberti, mafia.<br>
      <br>
      NAPOLETANO: c'amma fa? , t dev veng a piglià?, pari la uallera, pari o cazz, ammò<br>
      <br>
      ALBANESE : qiva nanen, civet, qiva robt<br>
    </div>

    <h1>FINAL TRANSLATOR</h1>
    <form action="/" method="post">
        <label for="text">Inserisci la frase da tradurre:</label>
        <input type="text" id="text" name="text" value="{{ original_text }}"><br><br>
        <label for="lang">Seleziona la lingua:</label>
        <select id="lang" name="lang">
            <option value="en" {% if target_lang == 'en' %}selected{% endif %}>Inglese</option>
            <option value="fr" {% if target_lang == 'fr' %}selected{% endif %}>Francese</option>
            <option value="al" {% if target_lang == 'al' %}selected{% endif %}>Albanese</option>
            <option value="md" {% if target_lang == 'md' %}selected{% endif %}>Mondainese</option>
            <option value="np" {% if target_lang == 'np' %}selected{% endif %}>Napoletano</option>
            <option value="es" {% if target_lang == 'es' %}selected{% endif %}>Spagnolo</option>
            <option value="de" {% if target_lang == 'de' %}selected{% endif %}>Tedesco</option>
            <option value="it" {% if target_lang == 'it' %}selected{% endif %}>Italiano</option>
            <option value="pt" {% if target_lang == 'pt' %}selected{% endif %}>Portoghese</option>
            <option value="ja" {% if target_lang == 'ja' %}selected{% endif %}>Giapponese</option>
            <option value="zh" {% if target_lang == 'zh' %}selected{% endif %}>Cinese</option>
            <option value="ru" {% if target_lang == 'ru' %}selected{% endif %}>Russo</option>
            <option value="ko" {% if target_lang == 'ko' %}selected{% endif %}>Coreano</option>
            <option value="ar" {% if target_lang == 'ar' %}selected{% endif %}>Arabo</option>
        </select><br><br>
        <input type="submit" value="Traduci">
    </form>

    {% if translated_text %}
        <h2>Testo tradotto:</h2>
        <p>{{ translated_text }}</p>
    {% endif %}

</body>
</html>
